@import "../../variables/variables.module.scss";
button {
  margin: 28px 0;
  border-radius: 8px;
  width: 327px;
  height: 53px;
  background-color: $very-dark-violet;
  color: $white;
  cursor: pointer;
}
